alabaster==0.7.12
argh==0.26.2
Babel==2.11.0
docutils==0.17
imagesize==1.4.1
Jinja2>=2.10.1
livereload==2.6.3
MarkupSafe==2.1.1
pathtools==0.1.2
port-for==0.6.3
Pygments==2.13.0
pytz==2022.7
PyYAML>=4.2b1
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.1.1
tornado==6.3.3
watchdog==2.2.0
